<div class="col-lg-4 col-lg-offset-4 ">
<?php echo $this->Session->flash('auth'); ?>
<?php echo $this->Form->create('User'); ?>
<br /><br />
  <div class="form-group ">
    <label for="exampleInputEmail1">Login:</label>
    <input class="form-control" name="data[User][username]" maxlength="150" id="UserUsername" required="required" type="text">
  </div>
  <div class="form-group">
    <label for="passwd">Hasło:</label>
    <input class="form-control" name="data[User][password]" id="UserPassword" required="required" type="password">
  </div>

    <button type="submit" class="btn btn-primary">Zaloguj</button>	    
</form><br /><br />
</div>